<html>
	<head>
		<title>LucOs Credentials - <%= system %>: <%= environment %></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<lucos-navbar>Credential List</lucos-navbar>
		<a href="/">&lt;- Home</a>
		<h1><%= system.replace("_", " ") %>: <%= environment %></h1>
		<h2>Environment Variables Currently Set</h2>
		<ul>
			<% for(const key in creds) { %>
			<li>
				<%= key %>
				<% if (creds[key].type == "simple") { %>
					<form action="/update-simple-credential" method="get">
						<input type="hidden" name="system" value="<%= system %>" />
						<input type="hidden" name="environment" value="<%= environment %>" />
						<input type="hidden" name="key" value="<%= key %>" />
						<input type="submit" value="Edit" />
					</form>
					<form action="/delete-simple-credential" method="get">
						<input type="hidden" name="system" value="<%= system %>" />
						<input type="hidden" name="environment" value="<%= environment %>" />
						<input type="hidden" name="key" value="<%= key %>" />
						<input type="submit" value="Delete" />
					</form>
				<% } %>
			(<%= creds[key].type %>)
			</li>
			<% } %>
		</ul>
		<form action="/update-simple-credential" method="get">
			<input type="hidden" name="system" value="<%= system %>" />
			<input type="hidden" name="environment" value="<%= environment %>" />
			<input type="submit" value="Add New Credential" />
		</form>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>