<html>
	<head>
		<title>LucOs Credentials - <%= system %>: <%= environment %></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
	</head>
	<body>
		<lucos-navbar bg-colour="#334">Creds</lucos-navbar>
		<nav id="breadcrumbs">
			<a href="/">Credentials</a> &gt;
			<a href="/system/<%=encodeURI(system)%>"><%= system.replaceAll("_"," ") %></a> &gt;
			<span><%= environment %></span>
		</nav>
		<main>
			<h1><span class="system-name"><%= system.replaceAll("_", " ") %>:</span> <span class="environment-name environment-<%= environment %>"><%= environment %></span></h1>
			<ul id="credential-list">
				<% for(const key in creds) {
					const viewpath = `/system/${encodeURI(system)}/${encodeURI(environment)}/${encodeURI(key)}`;
				%>
				<li>
					<span class="key"><%= key %></span>
					<form action="<%= viewpath %>" method="get" class="inline-form">
						<input type="submit" title="View Credential" value="⏿" class="inline-button view-button" />
					</form>
					<% if (creds[key].type == "simple") { %>
						<form action="/update-simple-credential" method="get" class="inline-form">
							<input type="hidden" name="system" value="<%= system %>" />
							<input type="hidden" name="environment" value="<%= environment %>" />
							<input type="hidden" name="key" value="<%= key %>" />
							<input type="submit" title="Edit Credential" value="✎" class="inline-button edit-button" />
						</form>
						<form action="/delete-simple-credential" method="get" class="inline-form">
							<input type="hidden" name="system" value="<%= system %>" />
							<input type="hidden" name="environment" value="<%= environment %>" />
							<input type="hidden" name="key" value="<%= key %>" />
							<input type="submit" title="Delete Credential" value="⛌" class="inline-button delete-button" />
						</form>
					<% } else if (creds[key].type == "client") { %>
						<form action="/update-linked-credential" method="get" class="inline-form">
							<input type="hidden" name="clientsystem" value="<%= system %>" />
							<input type="hidden" name="clientenvironment" value="<%= environment %>" />
							<input type="hidden" name="serversystem" value="<%= key.replace("KEY_", "").toLowerCase() %>" />
							<!-- TODO: figure out the current serverenviornment -->
							<input type="submit" title="Refresh Credential" value="♺" class="inline-button refresh-button" />
						</form>
					<% } else if (creds[key].type == "server") { %>
						<form action="/update-linked-credential" method="get" class="inline-form">
							<input type="hidden" name="serversystem" value="<%= system %>" />
							<input type="hidden" name="serverenvironment" value="<%= environment %>" />
							<input type="submit" title="Add Linked Credential where this system is the server" value="＋" class="inline-button add-button" />
						</form>
					<% } %>
				</li>
				<% } %>
			</ul>
			<h3>Add New Credential</h3>
			<div class="button-set">
				<form action="/update-simple-credential" method="get" class="inline-form">
					<input type="hidden" name="system" value="<%= system %>" />
					<input type="hidden" name="environment" value="<%= environment %>" />
					<input type="submit" title="Add Simple Credential" value="＋ Simple" class="inline-button add-button" />
				</form>
				<form action="/update-linked-credential" method="get" class="inline-form">
					<input type="hidden" name="clientsystem" value="<%= system %>" />
					<input type="hidden" name="clientenvironment" value="<%= environment %>" />
					<input type="submit" title="Add Linked Credential where this system is the client" value="＋ Client" class="inline-button add-button" />
				</form>
				<form action="/update-linked-credential" method="get" class="inline-form">
					<input type="hidden" name="serversystem" value="<%= system %>" />
					<input type="hidden" name="serverenvironment" value="<%= environment %>" />
					<input type="submit" title="Add Linked Credential where this system is the server" value="＋ Server" class="inline-button add-button" />
				</form>
			</div>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>