<html>
	<head>
		<title>LucOs Credentials - <%= system %>: <%= environment %></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
	</head>
	<body>
		<lucos-navbar>Credential List</lucos-navbar>
		<a href="/">&lt;- Home</a>
		<main>
			<h1><span class="system-name"><%= system.replace("_", " ") %>:</span> <span class="environment-name environment-<%= environment %>"><%= environment %></span></h1>
			<form action="/update-simple-credential" method="get" class="inline-form">
				<input type="hidden" name="system" value="<%= system %>" />
				<input type="hidden" name="environment" value="<%= environment %>" />
				<input type="submit" title="Add Credential" value="＋" class="inline-button add-button" />
			</form>
			<ul id="credential-list">
				<% for(const key in creds) { %>
				<li>
					<span class="key"><%= key %></span>
					<% if (creds[key].type == "simple") { %>
						<form action="/update-simple-credential" method="get" class="inline-form">
							<input type="hidden" name="system" value="<%= system %>" />
							<input type="hidden" name="environment" value="<%= environment %>" />
							<input type="hidden" name="key" value="<%= key %>" />
							<input type="submit" title="Edit Credential" value="✎" class="inline-button edit-button" />
						</form>
						<form action="/delete-simple-credential" method="get" class="inline-form">
							<input type="hidden" name="system" value="<%= system %>" />
							<input type="hidden" name="environment" value="<%= environment %>" />
							<input type="hidden" name="key" value="<%= key %>" />
							<input type="submit" title="Delete Credential" value="⛌" class="inline-button delete-button" />
						</form>
					<% } %>
				</li>
				<% } %>
			</ul>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>