<html>
	<head>
		<title>LucOs Credentials - Delete Credential</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
	</head>
	<body>
		<lucos-navbar><a href="/">Delete Credential</a></lucos-navbar>
		<main>
			<% if (error) { %>
				<div class='error'><%= error %></div>
			<% } %>
			<p>Are you sure you want to delete credential <span class="key"><%= key %></span> from the <span class="environment-name environment-<%= environment %>"><%= environment %></span> environment of <span class="system-name"><%= system.replaceAll("_", " ") %></span>?</p>
			<form action="/delete-simple-credential" method="post" class="inline-form">
				<input type="hidden" name="system" value="<%= system %>" />
				<input type="hidden" name="environment" value="<%= environment %>" />
				<input type="hidden" name="key" value="<%= key %>" />
				<input type="submit" value="Delete" class="inline-button delete-button" />
			</form>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>