<html>
	<head>
		<title>LucOs Credentials</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar bg-colour="#334">Creds</lucos-navbar>
		<nav id="breadcrumbs">
			<span>Credentials</a>
		</nav>
		<main>
			<div class="floating-button-set">
				<form action="/update-simple-credential" method="get" class="inline-form">
					<input type="submit" title="Add Simple Credential" value="＋" class="inline-button add-button" />
				</form>
				<form action="/update-linked-credential" method="get" class="inline-form">
					<input type="submit" title="Add Linked Credential" value="⫘" class="inline-button refresh-button" />
				</form>
			</div>
			<% for(const systemid in systems) {
				const system = systems[systemid];
				%>
				<h2 class="system-name"><a href="/system/<%=encodeURI(system.code)%>"><%= system.code.replaceAll("_", " ") %></a></h2>
				<ul class="environment-list">
					<% for(var ii = 0; ii < system.environments.length; ii++) {
						const environment = system.environments[ii];
						const path = `/system/${encodeURI(system.code)}/${encodeURI(environment)}`;%>
					<li class="environment-name environment-<%= environment %>"><a href="<%= path %>"><%= environment %></a></li>
					<% } %>
				</ul>
			<%} %>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>