<html>
	<head>
		<title>LucOs Credentials - Edit Credential</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar bg-colour="#334">Creds</lucos-navbar>
		<nav id="breadcrumbs">
			<a href="/">Credentials</a> &gt;
			<span>Update Simple Credential</span>
		</nav>
		<main>
			<% if (error) { %>
				<div class='error'><%= error %></div>
			<% } %>
			<form action="/update-simple-credential" method="post" class="entry-form">
				<span class="form-field"><label for="system" title="The system which'll use this credential">System</label><input type="text" name="system" id="system" value="<%= system %>" /></span>
				<span class="form-field"><label for="environment" title="The environment of the system this credential will be availble in">Environment</label><input type="text" name="environment" id="environment" value="<%= environment %>" /></span>
				<span class="form-field"><label for="key" title="The name of the environment variable the system will be able to access this credential in (Transformed to uppercase)">Key</label><input type="text" name="key" id="key" value="<%= key?.toUpperCase() %>" /></span>
				<span class="form-field"><label for="value" title="The value of the credential - stored encrypted">Value</label><input type="text" name="value" id="value" value="<%= value %>" /></span>
				<span class="form-field"><input type="submit" value="Save" class="inline-button add-button" /></span>
			</form>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>