<html>
	<head>
		<title>LucOs Credentials - Edit Credential</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<lucos-navbar>Edit Credential</lucos-navbar>
		<a href="/">&lt;- Home</a>
		<% if (error) { %>
			<div class='error'>Error Occured: <%= error %></div>
		<% } %>
		<form action="/update-simple-credential" method="post">
			<label for="system" title="The system which'll use this credential">System</label><input type="text" name="system" id="system" value="<%= system %>" />
			<label for="environment" title="The environment of the system this credential will be availble in">Environment</label><input type="text" name="environment" id="environment" value="<%= environment %>" />
			<label for="key" title="The name of the environment variable the system will be able to access this credential in (Transformed to uppercase)">Key</label><input type="text" name="key" id="key" value="<%= key?.toUpperCase() %>" />
			<label for="value" title="The value of the credential - stored encrypted">Value</label><input type="text" name="value" id="value" value="<%= value %>" />
			<input type="submit" value="Save" />
		</form>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>