<html>
	<head>
		<title>LucOs Credentials - Linked Credential</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
	</head>
	<body>
		<lucos-navbar bg-colour="#334">Creds</lucos-navbar>
		<nav id="breadcrumbs">
			<a href="/">Credentials</a> &gt;
			<span>Update Linked Credential</span>
		</nav>
		<main>
			<% if (error) { %>
				<div class='error'><%= error %></div>
			<% } %>
			<form action="/update-linked-credential" method="post" class="entry-form">
				<span class="form-field">
					<label for="clientsystem" title="">Client System</label>
					<select name="clientsystem" id="clientsystem" class="system-name">
						<option disabled="disabled" <%= (!clientsystem) ? 'selected="selected"' : '' %>></option>
						<% for (let ii=0; ii<availableSystems.length; ii++) {%>
						<option value="<%= availableSystems[ii] %>" <%= (clientsystem == availableSystems[ii]) ? 'selected="selected"' : '' %>>
							<%= availableSystems[ii].replaceAll("_", " ") %>
						</option>
						<% } %>
					</select>
				</span>
				<span class="form-field">
					<label for="clientenvironment" title="">Client Env</label>
					<select name="clientenvironment" id="clientenvironment" class="environment-name">
						<option disabled="disabled" <%= (!clientenvironment) ? 'selected="selected"' : '' %>></option>
						<% for (let ii=0; ii<availableEnvironments.length; ii++) {%>
						<option value="<%= availableEnvironments[ii] %>" <%= (clientenvironment == availableEnvironments[ii]) ? 'selected="selected"' : '' %>>
							<%= availableEnvironments[ii] %>
						</option>
						<% } %>
					</select>
				</span>
				<span class="form-field">
					<label for="serversystem" title="">Server System</label>
					<select name="serversystem" id="serversystem" class="system-name">
						<option disabled="disabled" <%= (!serversystem) ? 'selected="selected"' : '' %>></option>
						<% for (let ii=0; ii<availableSystems.length; ii++) {%>
						<option value="<%= availableSystems[ii] %>" <%= (serversystem == availableSystems[ii]) ? 'selected="selected"' : '' %>>
							<%= availableSystems[ii].replaceAll("_", " ") %>
						</option>
						<% } %>
					</select>
				</span>
				<span class="form-field">
					<label for="serverenvironment" title="">Server Env</label>
					<select name="serverenvironment" id="serverenvironment" class="environment-name">
						<option disabled="disabled" <%= (!serverenvironment) ? 'selected="selected"' : '' %>></option>
						<% for (let ii=0; ii<availableEnvironments.length; ii++) {%>
						<option value="<%= availableEnvironments[ii] %>" <%= (serverenvironment == availableEnvironments[ii]) ? 'selected="selected"' : '' %>>
							<%= availableEnvironments[ii] %>
						</option>
						<% } %>
					</select>
				</span>
				<span class="form-field"><input type="submit" value="Save" class="inline-button add-button" /></span>
			</form>
		</main>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>